* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

body {
  background-color: #040404;
  font-family: "Inter", sans-serif;
  color: white;
}

header {
  min-height: 100vh;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1610041321327-b794c052db27?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  position: relative;
  background-position: center;
  background-size: cover;
}

section {
  margin: 2em;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: inline-flex;
  padding: 1% 6%;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
}


.hamburger {
  display: none;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: #fff;
}

.menu.open {
  display: block;
  width: 100%;
  position: absolute;
  top: 75px;
  z-index: 100;
  left: 0;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  animation: slideIn 0.5s ease-in-out;
}
.menu.open a {
  color: #adb5bd;
  text-decoration: none;
  cursor: pointer;
}


.audio-logo {
  width: 80px;
  padding: 0;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 13px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: rgb(208, 255, 0);
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.hamburger {
  display: none;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3px;
  cursor: pointer;
  z-index: 200;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}


.menu {
  display: none;
  width: 100%;
  position: absolute;
  background-color: #fff;
  top: 85px;
  left: 0;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

.open {
  display: block;
  width: 60%;
  height: 100%;
  position: fixed;
  background-color: rgba(56,56,55, 1);
  top: 0;
  left: 0;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  animation: slideIn 0.5s ease-in-out;
  z-index: 100;
}
.Main-Content{
  position: relative;
  z-index:1;
  background-color:black;
}
.Footer{
  position: sticky;
  z-index:-1;
  bottom: 0;
}
.footer-container{
  height: 40vh;
}

@media screen and (max-width: 650px) {
  .nav-links {
    display: none;
  }
  .audio-logo {
    width: 60px;
  }
  .hamburger {
    display: flex;
  } 
}

@media screen and (min-width: 650px) {
  .open{
    display: none;
  } 
}

@keyframes slideIn {
  0% {
    left: -150px;
  }
  100% {
    left: 0px;
  }
}

.menu-link {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu-link li {
  padding: 2rem;
  font-weight: bolder;
}

.menu-link li:last-child {
  padding-bottom: 0;
}

.menu-link li a {
  color: #fff;
  font-weight: bolder;
  font-size: 1rem;
  text-decoration: none;
}
.menu-link li a:hover{
  color: cyan;
}

.filter{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 2.75rem;
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: 900;
}

.heading-span {
  color: cyan;
}

#subtitle {
  color: #adb5bd;
  text-align: center;
  font-size: 1.3rem;
}

@media(max-width: 650px){
  h1{
    font-size: 2.3rem;
  }
  #subtitle{
    font-size: 1.1rem;
  }
}

h2 {
  color: #dce1de;
  text-align: center;
  margin: 1rem 0;
}

hr {
  width: 90%;
  margin: 0 auto;
  border-color: #2b2c28;
}

.section-headings {
  font-size: 2.3rem;
  text-decoration: underline;
  text-underline-offset: 10px;
  margin: 3rem 0 2.5rem;
}

.container,
#podcasts > .collection {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.show {
  margin-bottom: 1rem;
}

.playlist {
  background-color: #2b2c28;
  padding: 0.75em;
  border-radius: 1em;
  margin: 0.5rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 20px;
  margin: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  backdrop-filter: blur(15px) saturate(164%);
  -webkit-backdrop-filter: blur(15px) saturate(164%);
  background-color: rgba(255, 255, 255, 0.34);
  border-radius: 1px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.card {
  background-color: #2b2c28;
  margin-bottom: 2rem;
  display: grid;
  grid-template-rows: min-content 180px 1fr;
  /* box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.2); */
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.card h3 {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

@media(max-width: 390px){
  .card h3{
    font-size: 1.09rem;
  }
}

.card p {
  font-size: 0.9rem;
  color: #adb5bd;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.card a {
  display: block;
  font-weight: bold;
  text-align: center;
  padding: 0.5rem 1.25rem;
  border-radius: 5px;
  /* background-color: #339989; */
  color: #040404;
  cursor: pointer;
  text-decoration: none;
}

.card a:hover {
  background-color: #7de2d1;
}

.btn {
  position: relative;
  display: inline-block;
  margin: 15px;
  padding-left: 27px;
  padding-right: 27px;
  padding-bottom: 12px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #999999;
  background: #ffffff;
  border: 3px solid #999999;
  cursor: pointer;
  transition: ease-out 0.5s;
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
}


#psy{
  margin-bottom: 3px;
  font-size: 14px;
}

#rew{
  margin-bottom: 3px;
  font-size: 14px;
}


.btn.btn-border::after,
.btn.btn-border::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  transition: 0.5s;
}

.btn.btn-border::after {
  top: -9px;
  left: -9px;
  border-top: 3px solid transparent;
  border-left: 3px solid transparent;
}

.btn.btn-border::before {
  bottom: -9px;
  right: -9px;
  border-bottom: 3px solid transparent;
  border-right: 3px solid transparent;
}

.btn.btn-border:hover {
  color: #222222;
}

.btn.btn-border:hover::after,
.btn.btn-border:hover::before {
  width: 30px;
  height: 30px;
  border-color: #222222;
}

@media screen and (max-width: 650px) {
  .nav-links {
    display: none;
  }

  .logo {
    width: 60px;
  }

  .hamburger {
    display: flex;
  }

  header {
    min-height: 100vh;
  }
}

@media screen and (min-width: 650px) {
  .menu .open {
    display: none;
  }
}
/* footer */
.footer-container {
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: rgb(6, 16, 37);
}

.footer-container .col {
  padding: 2.5rem;
  flex-basis: 20%;
}

.footer-container a:hover,
footer a:focus {
  color: #aaa;
  text-decoration: none;
  border-bottom: 1px dotted #999;
}

@media (max-width: 730px) {
  .footer-container {
    gap: 0.5rem;
  }

  .footer-container .col {
    padding: 2rem;
    flex-basis: 31%;
  }

  .footer-container p {
    color: white;
    margin-top: 1rem;
  }
}

@media (max-width: 600px) {
  .footer-container .col {
    padding: 1rem;
    flex-basis: 100%;
  }
}

.footer-container p {
  color: white;
  margin-top: 1rem;
}

.footer-container .col .email-id {
  word-wrap: break-word;
  text-decoration: underline;
}

.footer-container .col h3 {
  color: #900505;
  margin-bottom: 1rem;
}

.footer-container .col img {
  width: 140px;
  cursor: pointer;
}
.footlogo {
  display: flex;
  margin: auto;
}
.footerheading {
  display: flex;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  justify-content: center;
  cursor: pointer;
}
.footer-container .col .footerpara {
  display: flex;
  margin-top: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 1mm;
  justify-content: center;
  cursor: pointer;
}
.fab:hover {
  text-decoration: none;
}

.footer-container .col .sukoon {
  color: rgb(30, 240, 191);
  letter-spacing: 5px;
  margin-top: 1rem;
}

.footer-container .col .social-menu ul {
  display: flex;
  gap: 1rem;
}

.footer-container .col .social-menu ul a {
  color: aqua;
}

.footer-container .col ul li {
  list-style-type: none;
  text-align: left;
  margin-top: 0.75rem;
}

.footer-container .col ul li a {
  /* text-decoration: none; */
  color: rgb(255, 255, 255);
}
