@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=The+Nautigal:wght@700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: url("/images/blue-shiny-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  overflow: hidden;
}

h1 {
  color: white;
  font-weight: normal;
  font-size: 60px;
  margin: 30px 20px;
  text-shadow: 2px 2px 4px #011120;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}


h1:hover {
  color: #fdec6e;
  text-shadow:0px 0px 30px #fdec6e;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

h4 {
  font-family: 'Times New Roman', Times, serif;
  color: #fdec6e;
  font-size: 1.5rem;
}

.countdown {
  margin-top: 5rem;
  display: flex;
  transform: scale(1.5);
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
  background-color: aliceblue;
  padding: 1rem;
}

.time h2 {
  color: rgb(14, 78, 131);
  font-weight: bold;
  font-size: 36px;
  line-height: 1;
  margin: 0 0 5px;
}

.text {
  box-shadow: 5px 5px 3px rgb(143, 143, 143);
  padding: 0.5rem;
  color: rgb(89, 0, 255);
  font-weight: 560;
  border-radius: 5px;
}

h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style:italic;
  font-size: 2em;
  animation: typing 2s steps(22);
  white-space: nowrap;
  overflow: hidden;
  color: white;
}

@keyframes typing {
  from {
    width: 0;
  }
}


@media (max-width: 500px) {
  h1 {
    font-size: 45px;
  }
  .time {
    margin: 5px;
    padding: 0.1rem;
  }
  .time h2 {
    font-size: 12px;
  }
  .text {
    font-size: 10px;
    box-shadow: 5px 5px 3px rgb(143, 143, 143);
    padding: 0.1rem;
    border-radius: 1px;
  }
  h3 {
    font-size: 1rem;
    /* width: 20ch; */
    animation: typing 1s steps(12);
  }
}
