@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
/* 
body {
  display: inline-block;
  font-size: 0;
} */

/* HERO SECTION */

header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(/images/banner.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 150px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 13px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: rgb(208, 255, 0);
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.content {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 50%);
  text-align: center;
}

.content h1 {
  font-size: 62px;
}

.content h3 {
  margin: 3rem 0 40px;
  /* font-size: 14px; */
  color: #fff;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 20px;
  background: transparent;
  border-radius: 50px;
  cursor: pointer;
}

.hero-btn:hover {
  border: #060694;
  background: #060694;
  transition: 0.4s;
}

nav .fa {
  display: none;
}

/* ABOUT SECTION */
body {
  font-family: "Poppins";
  text-align: center;
  transform: none;
}

#about {
  /* background: #1c1c1c; */
  background-color: #014d94;
  width: 100%;
  padding: 5px 0px;
  padding-top: 30px;
  padding-bottom: 100px;
}
.title h2 {
  color: white;
  font-size: 50px;
  width: 1130px;
  margin: 30px auto;
  text-align: center;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}
.card {
  height: 380px;
  width: 290px;
  padding: 20px 30px;
  background: #101010;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.card:hover {
  background-color: transparent;
  border: 2px solid #f9004d;
  cursor: pointer;
}
.card img {
  height: 200px;
  width: 200px;
  border-radius: 90px;
}
.card img:hover {
  border: 2px solid #f9004d;
}
h5 {
  color: white;
  font-size: 23px;
  margin-bottom: 15px;
}
.pra p {
  color: #fcfc;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 25px;
}

.pra button {
  padding: 0.5rem;
  background-color: #daf0f8;
  border-radius: 15%;
  color: #f9004d;
  cursor: pointer;
}

/* SERVICES SECTION */
#services {
  position: absolute;
  background-color: #daf0f8;
  margin-bottom: 3rem;
}

#services h1 {
  font-size: 50px;
  text-align: center;
  margin-top: 2rem;
  font-weight: bolder;
}

.container {
  padding: 6rem 1.25rem 6rem 1.25rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  margin: auto -4rem -10rem -4rem;
  text-align: center;
}

.laugh {
  margin-left: 3rem;
}

.talk {
  margin-left: 3rem;
}

.doctor {
  margin-left: 3rem;
}

.responsive {
  margin-bottom: 5rem;
  /* padding-left: 4rem;
    padding-right: 4rem; */
}

.round-image {
  border-radius: 0.5rem;
  height: 13rem;
  height: 12rem;
  overflow: hidden;
}

.image-tag {
  object-fit: cover;
  object-position: center;
}
.round-image:hover .image-tag {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

.title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
  color: #1a202c;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}

.text {
  color: #718096;
  line-height: 1.625;
  font-size: 1rem;
  display: grid;
  justify-content: center;
  text-align: center;
  grid-template-rows: auto;
  grid-template-columns: fit-content(50%);
}

.explore {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  color: white;
  background-color: #2b86db;
  border-width: 0px;
  padding: 0.5rem 1.25rem 0.5rem 1.25rem;
  border-radius: 0.25rem;
}

.explore:focus {
  outline: none;
}

.explore:hover {
  background-color: #014d94;
}

/* CONTACT SECTION */
#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#6190e8),
    to(#a7bfe8)
  );
  background: linear-gradient(90deg, #6190e8, #a7bfe8);
  font-family: "Lato", sans-serif;
}

/* FOOTER */
footer {
  position: relative;
  width: 100%;
  bottom: 0;
  background: linear-gradient(to right, #00093c, #2d0b00);
  color: #fff;
  padding: 100px 0 30px;
  font-size: 13px;
  /* line-height: 20px; */
  margin-top: 67rem;
}
.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.col {
  flex-basis: 25%;
  padding: 5px;
}
.col:nth-child(2),
.col:nth-child(3),
.col:nth-child(5),
.col:nth-child(4) {
  flex-basis: 5%;
}
.logo {
  width: 80px;
  margin-bottom: 30px;
}

.col h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}

.email-id {
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}
.social-menu ul li {
  list-style: none;
  margin-bottom: 12px;
}

.social-menu ul li a {
  text-decoration: none;
  color: #fff;
}

hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}

col ul li {
  list-style: none;
  text-decoration: none;
}

.social-menu ul {
  display: flex;
  text-align: center;
}
.social-menu ul li {
  display: block;
  color: #000;
  font-size: 20px;
  height: 40px;
  width: 40px;
  background: #fff;
  line-height: 40px;
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
}

.copyright {
  text-align: center;
}
.underline {
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}
.underline span {
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}

@keyframes moving {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
}

@media (max-width: 700px) {
  .content h1 {
    font-size: 20px;
  }

  .nav-links ul li {
    display: block;
  }

  .nav-links {
    position: absolute;
    background: #060694;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  nav .fa {
    display: block;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    font-size: 22px;
  }

  .nav-links ul {
    padding: 30px;
  }
}
