@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  font-family: "Poppins";
  transform: none;
}
/* 
body {
  display: inline-block;
  font-size: 0;
} */

/* HERO SECTION */

header {
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(/images/landing-page-image.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  min-height: 100vh;
}

.nav {
  position: relative;
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 100px;
}

/* .nav-links {
  flex: 1;
  text-align: right;
} */

.hamburger {
  display: none;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3px;
  cursor: pointer;
  z-index: 200;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: #fff;
}

.links li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.links li::after {
  content: "";
  width: 0%;
  height: 3px;
  background: rgb(122, 178, 231);
  display: block;
  margin: auto;
  transition: 0.5s ease-in-out;
}

.links li:hover::after {
  width: 100%;
}
.login-button{
  padding: 0.65rem;
  font-family: 'Montserrat',sans-serif;
  font-weight: 500;
  border: none;
  background-color: #f9004d;
  box-shadow: inset 0 0 0 0 #0da1dc;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transition: ease-out 0.4s;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  -ms-transition: ease-out 0.4s;
  -o-transition: ease-out 0.4s;
}
.login-button:hover{
  color: #ffffff;
  box-shadow: inset 130px 0 0 0 #0da1dc;
}
.menu {
  display: none;
  width: 100%;
  position: absolute;
  background-color: #fff;
  top: 85px;
  left: 0;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

.menu.open {
  display: block;
  width: 80%;
  height: 100%;
  position: absolute;
  background-color: rgba(244, 124, 124, 0.970);
  top: 0px;
  left: 0;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  animation: slideIn 0.5s ease-in-out;
  z-index: 100;
}

@keyframes slideIn {
  0% {
    top: -150px;
  }
  100% {
    top: 85px;
  }
}

.menu-link {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu-link li {
  padding: 2rem;
  font-weight: bolder;
}

.menu-link li:last-child {
  padding-bottom: 0;
}

.menu-link li a {
  color: rgba(0, 0, 0, 0.782);
  font-weight: bolder;
  font-size: 1rem;
}
.menu-link li a:hover{
  z-index: 150;
  color: #105e7d;
  border-bottom: #011b24 1px solid;
}

.content {
  width: 90%;
  color: #fff;
  margin: auto;
  text-align: center;
}

.content h1 {
  margin-top: 4rem;
  font-family: "Lucida Sans";
  font-weight: 199px;
  font-size: 4rem;
  line-height: 4.563rem;
  text-align: center;

  color: #ffffff;

  webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: black;
  /* Fallback: Set a background color. */
  background-color: #ffffff;

  /* Create the gradient. */
  background-image: linear-gradient(
    45deg,
    #fff 15.666%,
    #0da1dc 16.333%,
    #981a8e 33.333%,
    #ea097f 50%,
    #e12038 66.666%,
    #f06f25 83.333% /* #323292 10.666% */
  );

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Animate the text when loading the element. */
  /* This animates it on page load and when hovering out. */
  animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
}

.content h1:hover {
  animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}

/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-simple-animation-rev {
  0% {
    background-size: 650%;
  }
  40% {
    background-size: 650%;
  }
  100% {
    background-size: 100%;
  }
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-simple-animation {
  0% {
    background-size: 100%;
  }
  80% {
    background-size: 650%;
  }
  100% {
    background-size: 650%;
  }
}

.content h3 {
  margin-top: 1rem;
  color: rgb(163, 158, 158);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  color: rgb(180, 217, 240);
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}
.content .hero-explore {
  display: inline-block;
  margin-top: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  text-decoration: none;
  background-color: #ffffff;
  color: #014d94;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 3px solid;
  border-image-source: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    linear-gradient(0deg, #014d94, #014d94);
  transition: 0.3s ease-in-out;
}
.content .hero-explore:hover {
  background: #014d94;
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 20px;
  background: transparent;
  border-radius: 50px;
  cursor: pointer;
}

.hero-btn:hover {
  border: #060694;
  background: #060694;
  transition: 0.4s;
}

nav .fa {
  display: none;
}

/* ABOUT SECTION */
#about {
  /* background: #1c1c1c; */
  background-color: #014d94;

  width: 100%;
  padding: 5px 0px;
  padding-top: 30px;
  padding-bottom: 100px;
}
#about h2 {
  color: white;
  font-size: 50px;
  margin: 30px;
  text-align: center;
}
#about h3 {
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  text-decoration: underline;
}
.box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 3rem;
}
.card {
  cursor: pointer;
  border: 2px solid red;
  box-shadow: 1px 2px red, -0.5em 0 0.9em black;
  text-align: center;
  transition: 0.3s ease-in-out;
  animation: slideIn 0.5s ease-in-out;
  transform: translateY(-2.2rem);
  padding: 2rem;
  border-radius: 3rem;
}
.card img {
  height: 200px;
  width: 200px;
  border-radius: 90px;
}
.card img:hover {
  /* border: 5px solid #f9004d; */
  outline: 0px solid transparent;
  padding: 3px 3px;
  border: 2px solid red;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

h5 {
  color: white;
  font-size: 23px;
  margin-bottom: 15px;
}
.pra p {
  color: #fcfc;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 25px;
}

.pra button {
  padding: 0.6rem 1.2rem;
  border: 2px solid #f9004d;
  background-color: #fff;
  border-radius: 0.8rem;
  color: #f9004d;
  cursor: pointer;
}
.pra button:hover{
 background-color: #f9004d;
 color: #fff;
 transition: 0.3s;
}
/* SERVICES SECTION */
#services {
  background-color: #092e3c;
  width: 100%;
}

#services h1 {
  font-size: 50px;
  text-align: center;
  padding-top: 2rem;
  font-weight: bolder;
  color: white;
}

.container {
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.responsive {
  color: whitesmoke;
  width: 30%;
  border: 1px solid rgba(245, 245, 245, 0.146);
  border-radius: 1.5rem;
  text-align: center;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.responsive .round-image img {
  width: 12rem;
}

.responsive h2 {
  margin-top: 1.2rem;
}

.responsive p {
  width: 70%;
  word-wrap: break-word;
  margin: 1rem auto;
}

.responsive a {
  text-decoration: none;
  color: black;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: 0.3s ease-in-out;
}

.responsive a:hover {
  font-weight: bolder;
  background-color: #02142d;
  color: white;
  border-color: white;
}

@media screen and (max-width: 700px) {
  .container {
    flex-direction: column;
  }

  .responsive {
    width: 100%;
  }
}

/* faq section */
.faq {
  background-color: rgb(0, 39, 55);
  padding-bottom: 20px;
}
.faq_heading {
  padding-top: 40px;
  text-align: center;
  font-weight: bolder;
  color: white;
  width: 100%;
}
.faq_heading h1 {
  font-size: 50px;
}

.wrap {
  position: relative;
  width: 100%;
  padding: 30px;
  max-width: 900px;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}

.accordion {
  display: block;
  position: relative;
  width: 100%;
}

.accordion__item {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}
.accordion__item:last-child {
  margin-bottom: 0;
}
.accordion__title {
  display: block;
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0px 50px 0 20px;
  font-size: 1.3em;
  font-weight: 700;
  color: rgb(247, 245, 245);
  text-decoration: none;
  border-bottom: 2px solid #eee;
  overflow: hidden;
  transition: background-color 0.2s;
}

.accordion__title:hover {
  background-color: rgb(17, 61, 77);
}

.accordion__title.active {
  background: rgb(46, 95, 114);
  color: white;
}

.accordion__title.active .x7 {
  transform: rotate(-90deg);
}

.accordion__title.active .x7 .btop {
  width: 67%;
  top: 2px;
  transform: translateY(-50%) rotate(-45deg);
  transform-origin: 50% 50%;
  background-color: white;
}
.accordion__title.active .x7 .bmid {
  opacity: 0;
}
.accordion__title.active .x7 .bbot {
  width: 67%;
  bottom: 2px;
  transform: translateY(50%) rotate(45deg);
  transform-origin: 50% 50%;
  background-color: white;
}

.accordion__content {
  display: none;
  position: relative;
  overflow: hidden;
  border: 1px solid #eee;
  border-top: none;
  line-height: 1.65;
  padding: 25px;
  background-color: rgb(214, 235, 244);
  font-size: 1em;
  font-weight: 500;
}

/* --- Icon --- */
.bmenu {
  width: 26px;
  height: 16px;
  display: block;
  position: absolute;
  right: 15px;
  top: 12px;
}

.btop,
.bmid,
.bbot {
  right: 0;
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: rgb(243, 230, 230);
  border-radius: 1px;
}

.btop {
  width: 40%;
}

.bmid {
  width: 60%;
}

.bbot {
  width: 80%;
}
.x7 {
  transition: transform 0.3s ease-out;
  transform-origin: 60% 75%;
}

.x7 .btop {
  top: 0;
  transition: width 0.3s, transform 0.3s, top 0s;
  transition-timing-function: ease-out;
}

.x7 .bmid {
  top: calc(50% - 1px);
  transform-origin: 100% 50%;
  transition: opacity 0.1s;
  transition-timing-function: ease-out;
}

.x7 .bbot {
  bottom: 0;
  transition: width 0.3s, transform 0.3s, bottom 0s;
  transition-timing-function: ease-out;
}

/* footer */
.footer-container {
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: rgb(6, 16, 37);
}
.footer-container .col {
  padding: 2.5rem;
  flex-basis:20%;
}
.footer-container a:hover,
footer a:focus {
  color: #aaa;
  text-decoration: none;
  border-bottom: 1px dotted #999;
}



@media (max-width: 730px) {
  .footer-container {
    gap: 0.5rem;
  }
  .footer-container .col {
    padding: 2rem;
    flex-basis: 31%;
  }
  .footer-container p {
    color: white;
    margin-top: 1rem;
  }
}
@media (max-width: 600px) {
 
  .footer-container .col {
    padding: 1rem;
    flex-basis: 100%;
  }
  
}

.footer-container p {
  color: white;
  margin-top: 1rem;
}



.footer-container .col .email-id {
  word-wrap: break-word;
  text-decoration: underline;
}

.footer-container .col h3 {
  color: #900505;
  margin-bottom: 1rem;
}

.footer-container .col img {
  width: 100px;
  height: 100px;
}

.footer-container .col .sukoon {
  color: rgb(30, 240, 191);
  letter-spacing: 5px;
  margin-top: 1rem;
}

.footer-container .col .social-menu ul {
  display: flex;
  gap: 1rem;
}

.footer-container .col .social-menu ul a {
  color: aqua;
}

.footer-container .col ul li {
  list-style-type: none;
  text-align: left;
  margin-top: 0.75rem;
}

.footer-container .col ul li a {
  /* text-decoration: none; */
  color: rgb(255, 255, 255);
}
@media screen and (max-width: 600px) {
  .container {
    padding: 1rem;
  }

  .responsive .round-image {
    width: 300px;
    height: 150px;
  }

  .content {
    position: absolute;

    /* top: vh; */
    left: 3vh;
  }

  #about h3 {
    margin-left: 6rem;
  }

  .card img {
    border-radius: 25px;
  }

  .footer-container .col ul li {
    text-align: center;
  }

  .footer-container {
    text-align: center;
  }

  .footer-container .col .social-menu ul {
    justify-content: center;
  }
}

@media screen and (max-width: 650px) {
  .nav-links {
    display: none;
  }
  .logo {
    width: 60px;
  }

  .hamburger {
    display: flex;
    
  }

  header {
    min-height: 100vh;
  }
}

@media screen and (min-width: 650px) {
  .menu.open {
    display: none;
  }
}

@media screen and (max-width: 820px) and (min-width: 600px) {
  header {
    min-height: 61vh;
  }

  .content {
    position: absolute;
    top: 19vh;
    left: 3vh;
  }

  #about h3 {
    margin-left: 20.5rem;
  }

  .card img {
    border-radius: 25px;
  }
}
/* @media screen and (max-width: 650px) {
  .nav-links {
     display: none;
  }

  .logo {
    width: 60px;
  }

  .hamburger {
    display: flex;
  }
}

@media screen and (min-width: 650px) {
  .menu.open {
    display: none;
  }
} */
