@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}
#load{
	margin: auto;
    width: 100%;
    height: -webkit-fill-available;
    position: fixed;
    background: #fff url(/images/Spin-Preloader-1.gif) no-repeat center;
    z-index: 9999999;
}
#main{
  overflow: hidden;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

html,body{
  overflow-x: hidden;
}
/*Nav section and Hero section*/
nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: inline-flex;
  padding: 1% 4%;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
}

.hamburger {
  display: none;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3px;
  color: #fff;
  cursor: pointer;
}

.hamburger:hover, .hamburger:focus{
  color: #e5e5e5;
}

.nav-links {
  flex: 1;
  text-align: right;
}


.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 0.95rem;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #007EA7;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.logo {
  width: 80px;
  padding: 0px;
}

.menu.open a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.menu {
  display: none;
  width: 100%;
  position: absolute;
  background-color: #01232e;
  top: 85px;
  left: 0;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

.open {
  display: block;
  width: 80%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  animation: slideIn 0.5s ease-in-out;
  z-index: 100;
}

@keyframes slideIn {
  0% {
    left: -150px;
  }
  100% {
    left: 0px;
  }
}

.menu-link {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu-link li {
  padding: 2rem;
  font-weight: bolder;
}

.menu-link li a {
  color: rgba(0, 0, 0, 0.782);
  font-weight: bolder;
  font-size: 1rem;
}

.menu-link li a:hover{
  color: #00a8e8;
}

header {
  min-height: 100vh;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1524863479829-916d8e77f114?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  position: relative;
  background-position: center;
  background-size: cover;
}

.filter{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.2);
}

.text {
  position: absolute;
  top: 20%;
  left: 5%;
  padding: 0.5em;
}

.text h1 {
  color: #fff;
  line-height: 1.2;
  font-size: 4rem;
  font-weight: 800;
}
.text ul li {
  margin: 3% 5%;
  width: 30vw;
  color: #FF5757;
  font-weight: bolder;
  font-size: 1.5rem;
}
.text button{
  margin: 0% 20%;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
  border: 0.2rem solid #fff;
  padding: 2% 5%;
  background-color: #000;
}
.text button:hover{
  color: #000;
  background-color: #fff;
  border-color: #fff;
}
/*Benefits section*/
.benefits{
  padding: 2% 0%;
}

.benefits .bfit {
  padding: 0% 10%;
  display: flex;
  gap: 15rem;
}
.bfit div{
  padding: 0% 2%;
  background-color: #fff;
}
.bfit div ul{
  list-style:disc;
}

.bfit img{
    width: 55vw;
    height: 80vh;
    background-color: #000;
    border-radius: 7px;
    box-shadow: 15rem -20rem 0.1rem -5rem  lightgreen;
}

.btext{
    margin-left: 0%;
    padding: 5%;
}
.btext h1{
  margin:10% 0%;
}
.bfit img{
  width: 35%;
}

.btext .yoga-text{
  display: flex;
  margin: 0.8em 0;
}

.btext .yoga-text i{
    margin: 10px 5px;
}
/*Aasans section*/
.aasan {
  background: linear-gradient(
    to bottom right,
    #EEEEEE,
    rgba(243, 232, 232, 0.15)
  );
}

.aasan .row {
  width: 100%;
  padding: 1%;
  margin: 0 auto;
}

.aasan1 {
  width: 100vw;
  display: flex;
  margin-top: 4%;
}
.aasan1 div{
  padding: 0% 10% 0%;
  width: 50vw;
}

.aasan1 div img {
  width: 20vw;
  height: 50vh;
  object-fit: cover;
  border-radius: 7px;
  box-shadow: 10rem -8rem 0.1rem -5rem  lightgreen;
}
/* .wide-asan>img{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  border-radius: 7px;
  box-shadow: 10rem -8rem 0.1rem -5rem  lightgreen;
} */

.atext {
  width: 65%;
  padding: 3%;
}

.atext h1 {
  font-size: 4rem;
  color: green;
  font-weight: bolder;
}
.atext p{
  font-size: 1.2rem;
}

.atext p {
  color: #adb5bd;
}

.aasan1 button {
  font-size: 1.2rem;
  padding: 1% 3%;
  border-radius: 7px;
  color: #fff;
  font-weight: bolder;
  background-color: green;
  border: 2px solid green;
  transition: 0.3s ease-in-out;
}

.more {
  padding: 0.8em 1em;
  border-radius: 7px;
  color: #e5e5e5;
  font-weight: bolder;
  border: 2px solid #e5e5e5;
  width: 20%;
  text-align: center;
  margin: 2em auto 0;
  transition: 0.3s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

.aasan1 button:hover {
  color: white;
  background-color: #00a8e8;
  border: 2px solid #007EA7;
}

.more:hover {
  color: #00171f;
  background-color: #e5e5e5;
}

/*Videos section*/
.video-frame{
  width: 25vw;
  height: 30vh;
}
.videos .flip-card {
  padding: 1em 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.videos>h1{
  padding: 2% 0%;
  text-align: center;
  font-size: 3rem;
  font-weight:600 ;
}
.videos-grid{
  padding: 0% 5%;
  display: grid;
  grid-template-areas: "c1 c2 c3" 
  "r1 r2 r3";
}

@media screen and (max-width: 650px) {
  .nav-links {
    display: none;
  }

  .logo {
    width: 60px;
  }

  .hamburger {
    display: flex;
  }

  header {
    min-height: 100vh;
  }
}

@media screen and (min-width: 650px) {
  .open {
    display: none;
  }
}
@media screen and (max-width: 1080px)and (min-width: 811px) {
  .bfit img{
    width: 45vw;
    height: 75vh;
  }
  header {
    width: 100vw;
    object-fit: cover;
    object-position: right;
  }
  .text h1 {
    margin-top: -10%;
    width: 100vw;
    color: #fff;
    line-height: 1.2;
    font-size: 4rem;
    font-weight: 800;
  }
  .text ul{
    margin-top: 15%;
  }
  .text ul li {
    margin: 3% 1%;
    width: 40vw;
    color: #fd4848;
    font-weight: bolder;
    font-size: 1.5rem;
  }
  .text button{
    margin: 0% 5%;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 600;
    border: 0.2rem solid #fff;
    padding: 2% 5%;
    background-color: #000;
  }
  .benefits .bfit {
    padding: 0% 5%;
    display: flex;
    gap:2rem;
    

  }
  .benefits .bfit {
    padding: 0% 2%;
  }
  .bfit img{
    box-shadow: 10rem -5rem 0.1rem -4rem  lightgreen;
  }
  .btext{
    background-color: #ffffff;
    padding: 5% 2%;
  }
  .btext h1{
    margin:10% 0%;
  }
  .aasan1 {
    padding: 5% 0%;
    gap: 3rem;
  }
  .aasan1 div{
    padding: 0% 1% 0%;
    width: 50vw;
  }
  
  .aasan1 div img {
    width: 40vw;
    height: 35vh;
    box-shadow: 7rem -8rem 0.1rem -5rem  lightgreen;
  }
  .atext {
    padding: 3%;
  }
  
  .atext h1 {
    font-size: 3.5rem;
  }
  .atext p{
    font-size: 1.2rem;
  }
  
  .aasan1 button {
    font-size: 1.1rem;
  }
  .videos .flip-card {
    padding: 5%;
  }
  .video-frame{
    width: 40vw;
    height: 30vh;
  }
  .videos>h1{
    width: 100vw;
  }
  .videos-grid{
    padding: 0%;
    display: grid;
    grid-template-areas: "c1";
  }
}
@media screen and (max-width: 810px)and (min-width: 481px) {
  .aasan1 {
    flex-direction: row;
    height: auto;
  }
  .bfit {
    flex-direction: row;
    height: auto;
  }
  
  .benefits img {
    width: 50%;
  }
  .bfit img{
    width: 40vw;
    height: 50vh;
  }
  header {
    width: 100vw;
    object-fit: cover;
    object-position: right;
  }
  .text {
    left:2%;
  }
  .text h1 {
    margin-top: -10%;
  }
  .text ul{
    margin-top: 2%;
  }
  .text ul li {
    margin: 3% 1%;
    width: 50vw;
    font-weight: bolder;
    font-size: 1.2rem;
  }
  .text button{
    margin: 0% 5%;
  }
  .benefits .bfit {
    width: 50vw;
    padding: 0%;
    display: flex;
    gap:2rem;
  }
  .benefits .bfit {
    padding: 0% 2%;
  }
  .bfit img{
    box-shadow: 10rem -5rem 0.1rem -4rem  lightgreen;
  }
  .btext{
    background-color: #ffffff;
    padding: 5% 1%;
  }
  .yoga-text{
    width: 50vw;
    font-size: 0.4rem;
  }
  .btext h1{
    margin:10% 15%;
  }
  .aasan1 {
    padding: 5% 0%;
    gap: 2rem;
  }
  .aasan1 div{
    padding: 0% 1% 0%;
    width: 50vw;
  }
  
  .aasan1 div img {
    width: 45vw;
    height: 30vh;
    box-shadow: 7rem -8rem 0.1rem -5rem  lightgreen;
  }
  .atext {
    padding: 5%;
  }
  
  .atext h1 {
    font-size: 2.5rem;
  }
  .atext p{
    font-size: 1rem;
  }
  
  .aasan1 button {
    font-size: 1.1rem;
  }
  .videos .flip-card {
    padding: 5%;
    
  }
  .video-frame{
    width: 40vw;
    height: 20vh;
  }
  .videos-grid{
    padding: 0%;
    display: grid;
    grid-template-areas: "c1";
  }
}
@media screen and (max-width: 480px)and (min-width: 320px){
  .aasan1 {
    flex-direction: column;
    height: auto;
  }
  .aasan1-img, .atext{
    width: 100%;
  }
  .bfit {
    flex-direction: column;
    height: auto;
  }
  .benefits img {
    width: 100%;
  }
  .bfit img{
    width: 95vw;
    height: auto;
  }
  
  header {
    width: 100vw;
    object-fit: cover;
    object-position: right;
  }
  .text {
    position: relative;
    padding-top: 25%;
  }
  .text h1 {
    text-align: center;
    width: 95vw;
    color: #fff;
    line-height: 1.2;
    font-size: 2.5rem;
    font-weight: 800;
  }
  .text ul{
    margin-top:30%;
  }
  .text ul li {
    margin: 5% 0%;
    text-align: left;
    color: rgb(240, 240, 78);
    width: 80vw;
    font-weight: bolder;
    font-size: 1.2rem;
  }
  .text button{
    margin: 0% 25%;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 600;
    border: 0.2rem solid #fff;
    padding: 2% 5%;
    background-color: #000;
  }
  .benefits .bfit {
    padding: 0% 5%;
    display: flex;
    gap:2rem;
    

  }
  .benefits .bfit {
    padding: 0% 2%;
  }
  .bfit img{
    padding: 5%;
    box-shadow: 0rem 0rem
  }
  .btext{
    background-color: #ffffff;
    padding: 5% 2%;
  }
  .btext h1{
    margin:10% 0%;
  }
  .aasan1 {
    padding: 10% 0%;
    gap: 2rem;
  }
  .aasan1 div{
    padding: 0% 5% 0%;
    width: 90vw;
  }
  
  .aasan1 div img {
    width: 80vw;
    height: 35vh;
    box-shadow: 7rem -8rem 0.1rem -5rem  lightgreen;
  }
  .atext {
    padding: 3%;
  }
  
  .atext h1 {
    text-align: left;
    font-size: 2.5rem;
  }
  .atext p{
    text-align: left;
    font-size: 1rem;
  }
  
  .aasan1 button {
    font-size: 1.1rem;
  }
  .video-div{
    padding-bottom:56.25%;
    position:relative;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%
  }
  .video-frame{
    position: absolute;
    top:0;
    left: 0;
    width: 95vw;
    height: 100%;
  }
  .videos .flip-card {
    padding: 5%;
    display: block;
  }
  .videos>h1{
    width: 100vw;
  }
  .videos-grid{
    width: 95vw;
    padding: 0%;
    padding-left: 5%;
    display: block;
  }
}
@media (max-width: 600px) {
  .videos iframe{
    width: 100%;
  }
  .more{
    width: 90%;
  }
  .text{
    top: 20%;
  }
}
/* footer */
footer{
  font-family: "Poppins",sans-serif;
}
.footer-container {
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  background-color: rgb(6, 16, 37);
}

.footer-side-col{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  width: 80%;
}

.footer-side-col > .col{
  padding: 2.5rem;
  flex-wrap: nowrap;
}

.footer-container > .col {
  padding: 2.5rem;
  flex-basis: 20%;
  color: white;
}

.footer-container .col a:hover,
footer a:focus {
  color: cyan;
}

@media (max-width: 1120px){
  .footer-side-col{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
  }
}

@media (max-width: 730px) {
  .footer-container {
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  .footer-container .col {
    padding: 2rem;
    flex-basis: 31%;
  }

  .footer-container p {
    color: white;
    margin-top: 1rem;
  }
  /* header{
    object-fit: cover;
    width: 100vw;
  } */

}

@media (max-width: 600px) {
  .footer-side-col{
    grid-template-columns: 1fr;
    grid-template-rows: minmax(auto,auto);
  }

  .footer-container .col {
    padding: 1rem;
    flex-basis: 100%;
  }
}

.footer-container .col a {
  display: inline-block;
  position: relative;
  color: white;
}

.footer-container .col ul li a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: cyan;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.footer-container .col ul li a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.footer-container p {
  color: white;
}

.footer-container .col ul li a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: cyan;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.footer-container .col ul li a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.footer-container p {
  margin-top: 0.5rem;
}
.footerpara{
  margin-left: -10px;
}

.footer-container .col .email-id {
  word-wrap: break-word;
  text-decoration: underline;
}

.email-id a{
  text-decoration: none;
  color: white;
}

.footer-container .col h3 {
  color: rgb(228, 26, 77);
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: 900;
  font-family: "Ubuntu",sans-serif;
}
.footer-container .col img {
  display: block;
  margin: 0 auto;
  width: 140px;
  cursor: pointer;
}
.footer-container .col .footerheading {
  display: flex;
  color:white ;
  margin-top: 2.2px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}
.footer-container .col .footerpara {
  display: flex;
  margin-top: -12px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 4px;
  justify-content: center;
  cursor: pointer;
}
.fab:hover {
  text-decoration: none;
}

.footer-container .col .sukoon {
  color: rgb(30, 240, 191);
  letter-spacing: 5px;
}

.footer-container .col .social-menu ul {
  display: flex;
  gap: 1rem;
}

.footer-container .col .social-menu ul a {
  color: white;
}
.footer-container .col .social-menu ul a:hover {
  color: cyan;
  border: none;
  text-decoration: none !important;
}

.footer-container .col ul li {
  list-style-type: none;
  text-align: left;
  margin-top: 0.5rem;
}
.footer-container .col ul li a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 600px) {
  
  .footer-container .col ul li {
    text-align: center;
  }

  .footer-container {
    text-align: center;
  }

  .footer-container .col .social-menu ul {
    justify-content: center;
  }
}

.footercontent{
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}
