<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="html/css/login.css">
<!--     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
	<title>login</title>
</head>
<body>
<div class="wrapper">
        <div class="logo">
           <h1>Login</h1>
        </div><br><br>

        <form action = "/login" method="POST" class="p-3 mt-3">
            <div class="form-field d-flex align-items-center">
                <input type="email" name="email" id="email" placeholder="Email Address">
            </div>
            <div class="form-field d-flex align-items-center">
                <input type="password" name="password" id="pwd" placeholder="Password">
            </div><br>
            <button type="submit" value="login" class="btn mt-3">Login</button>
        </form><br>
        <div class="text-center fs-6">
            <a href="#">Forget password?</a> or <a href="/signup">Sign up</a>
        </div>
    </div>
</body>
</html>
