* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#6190e8),
    to(#a7bfe8)
  );
  background: linear-gradient(90deg, #6190e8, #a7bfe8);
  font-family: "Lato", sans-serif;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.form-container {
  text-align: center;
  max-width: 600px;
  padding: 3rem 4rem;
  background-color: white;
}

.form-group {
  margin: 1rem 0;
}

.form-group input,
.form-group textarea {
  width: 100%;
  outline: none;
}

.form-group input {
  border: none;
  border-bottom: 1px solid black;
}

.form-container textarea {
  border: 1px solid black;
  margin-top: 1rem;
}

.btn {
  color: white;
  background: #6190e8;
  border: 1px solid #6190e8;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.btn:hover {
  background: #a7bfe8;
  border: 1px solid #a7bfe8;
}
