@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
    text-align: center;
    background-color: beige;
}

.collection {
    display: grid;
    grid-template-columns: minmax(2, 1fr);
}